/* import Sofia Pro font */
@import url("//hello.myfonts.net/count/309b18");

@font-face { 
    font-family: 'SofiaProRegular';
    src: url('../fonts/309B18_0_0.eot');
    src: url('../fonts/309B18_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/309B18_0_0.woff2') format('woff2'),
    url('../fonts/309B18_0_0.woff') format('woff'),
    url('../fonts/309B18_0_0.ttf') format('truetype');
}

/* variable styles */

$primary: #F04E23;
$secondary: #05057C;
$background: #F5F5F5;
$mainFont: 'SofiaProRegular', sans-serif;


/* main styles */

html{
    font-size: 62.5%;
    color: $secondary;
}

.wrapper{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

body{
    font-family: $mainFont;
}

span {
    color: $primary;
    text-transform: uppercase;
    line-height: 4rem;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: $primary;
    &:visited {
        color: black;
    }
}

p {
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    font-size: 2.4rem;
    margin: 20px 0px 5px 0px;
    text-transform: uppercase
}

h3 {
    font-size: 1.4rem;
    margin: 0;
} 

h4 {
    font-size: 1.4rem;
    margin: 10px 0px 25px 0px;
}

footer {
    width: 100%;
    background-color: $secondary;
     .copyright {
        color: white;
        font-size: 1.4rem;
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}

@import 'components/home';
@import 'components/normalize';
@import 'components/spotCards';
@import 'components/filter';
@import 'components/about';


