$primary: #F04E23;
$secondary: #05057C;
$mainFont: 'Sofia Pro', sans-serif;

html{
    font-size: 62.5%;
    font-family: "raleway", sans-serif;
    color: $secondary;
}

.wrapper{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

body{
    font-family: $mainFont;

}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: grey;
    &:visited {
        color: black;
    }
}

p {
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    font-size: 2.4rem;
    margin: 20px 0px 5px 0px;
    text-transform: uppercase
}

h3 {
    font-size: 1.4rem;
    margin: 0;
} 

h4 {
    font-size: 1.4rem;
    margin: 10px 0px 25px 0px;
}

@import 'components/home';
@import 'components/normalize';
@import 'components/spotCards';
@import 'components/filter';
@import 'components/about';


.hidden {
    display: none;
}

