.label-theIdea{
    
    @include label();
    left: -20px;
    top: 0px;
}

.theIdea {
    position: relative;
    margin: 100px auto;
    background: $background;
    padding: 100px 0px;
    width: 95%;
    p {
        width: 80%;
    }
}




