.theIdea-container {
    padding: 100px 0px;
}

#the-idea {
    padding: 75px 0px;
}
.the-idea {
    position: relative;
    margin: 0 auto;
    background: $background;
    width: 95%;
    p {
        width: 80%;
        margin: 0 auto;
        padding: 100px 0px;
        @media (max-width: 540px) {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
    }
}

.label-theIdea{
    @include label();
    left: -20px;
    top: 0px;
}



