.filters {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

label {
    padding: 20px;
}

.checkbox {
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    width: 15px;
}

