.myBtnContainer {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.8rem;
  @media (max-width: 760px) {
    flex-direction: column;
  }
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin: 0px 5px;
  @media (max-width: 760px) {
    margin: 5px 10px;
  }
}

.btn:hover {
  background-color: $background;
}

.btn.active {
  background-color: $secondary;
  color: white;
}