@mixin pageButton() {
    padding-top : 16px;
    padding-bottom : 16px;
    border-radius : 45px;
    width : 165px;
}

button{
    @include pageButton();
    margin : 12px;
    background-color : transparent;
    color : black;
    border-color : black;
}

.spots {
    display: flex;
    flex-direction: row;
}

.spot {
    width: 33.33%;
    padding: 10px;
}

.spot-image {
    width: 100%;
}