@mixin spotCard() {
    background: #fff;
    margin: 0px 20px 50px 10px;
    border-bottom: 1px solid $primary;  
}

@mixin labelCard() {
    position: absolute;
    width: 40px;
    height: 50px;
    left: 10px;
    top:-10px;
    img {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}


.spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spot {
    @include spotCard();
    width: calc(25% - 40px);
    position: relative;
    display: none; /* Hide all elements by default */
    @media (max-width: 1060px) {
        width: calc(33.33% - 40px);
    }
    @media (max-width: 960px) {
        width: calc(50% - 40px);
    }
    @media (max-width: 540px) {
        width: calc(100% - 40px);
        margin: 25px auto;
    }
}

.marker {
    @include labelCard();
}

.spot-image {
    width: 100%;
}


h4 {
    color: $primary;
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}